<div class="row">
<div class="span16">
	<div class="well">
		<%= semantic_form_for @presentation do |form| %>
		    <%= form.inputs do %>
		        
				<div style="float:center">
				<div style="float:left">
			   		<%= form.input :name, :label => "Presentation Name"%>
					<%= form.input :email, :label => "Your Email Address"%>
				</div>
				<div style="float:left">		
		        		<%= form.submit "Create", :class => "btn primary small" %> 
				</div>
				</div>
			
		    <% end %>

		<% end %>
	</div>
</div>



