<div class="row">

    <div id = "link1" class=" btn large primary"><%= link_to "Add New", new_presentation_question_path(@presentation), :remote => true %>
    </div>
    <% if !@presentation.questions.empty? %>
        <% @presentation.questions.each_with_index do |question, index| %>
            <div class="span4">
                <div class="questions">
                    <div class="questions-header <%= question.enabled ? "question-header-enabled" : ""%>" >
                        Question <%= index+1 %>
                        <div class="questions-header-nav">
                            <%= link_to "edit", edit_presentation_question_path(@presentation, question), :remote => true %>
				<%= link_to "Delete", presentation_question_path(@presentation, question), :method => :delete, :confirm => "Are you sure?" %>

                        </div>
                    </div>

                    <div class="questions-screen">
                        <h3> <%= question.name %> </h3>
                        <ul>
                            <% question.choices.each do |question_number, question_name| %> 
                                <li > <%= question_name %> </li>
                            <% end %>
                        </ul>
			<% if question.enabled %>
				<%= link_to "Hide", presentation_question_enable_path(@presentation, question), :class => "btn default", :method => :post %>
                    	<% else %>
				<%= link_to "Reveal", presentation_question_enable_path(@presentation, question), :class => "btn default", :method => :post %>
			<% end %>
			</div>
                </div>
            </div>
        <% end %>
    <% end %>

</div>

<div id="dialog" title="Create a Question"></div>

<div id="edit-question" title="Edit this Question"> </div>


