Name: <%= @presentation.name %><br>
<%= @presentation.questions.each do |question| %><br>
    Question: <%= question.name %><br> 
    <%= form_tag presentation_question_enable_path(@presentation, question) do |f| -%>
        <% if question.enabled == false %>
            <%= submit_tag "Enable"%>
        <% else %>
            <%= submit_tag "Disable"%>
        <% end %>
    <% end -%>
    Result: <br>
    Yes: <%= question.answers.find_all_by_result("1").length %>
    No: <%= question.answers.find_all_by_result("0").length %>
<% end %>
<br>
<%= link_to "Create more questions", new_presentation_question_path(@presentation) %>

</br>
	Audience Link: <%= link_to "#{presentation_url(@presentation)}", presentation_path(@presentation) %><br>
</br>
<button id="btnInit">
    Update Location
</button>
<script>  
    jQuery(window).ready(function(){  
        jQuery("#btnInit").click(initiate_geolocation);  
    });  

    function initiate_geolocation() {  
        navigator.geolocation.getCurrentPosition(handle_geolocation_query);  
    }  

    function handle_geolocation_query(position){  
            $.ajax({
                type: "POST",
                url: '/presentations/<%= @presentation.id %>',
                data: { _method:'PUT', loc : JSON.stringify({lat : position.coords.latitude, lon : position.coords.latitude})},
                dataType: 'json',
                success: function(msg) {
                    alert( "Data Saved: " + msg );
                }
            });

    }  
</script> 
