<% content_for :head do %>
    <script src="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js"></script>
    <%= stylesheet_link_tag 'header-logo.css' %>

<% end %>

<div data-role="page" id="question">
    <div data-role="header" class="header" role="banner">
        <h1 class="Instapol"> <span>Instapol</span> </h1> 
        <a href= "#home" data-icon="arrow-r" >Home</a>
    </div>

    <div data-role="content">
        <div id="question_form">
            <% if @question %>
                <%= render @question %>
            <% else %>
                <div data-role="content">
                    <div id="wait">
                        <h1><%= @presentation.name %></h1>
                        <h2>Waiting for next question...</h2>
                    </div>
                </div>
            <% end %>
        </div>

    </div>

</div>

<script>
    $(function() {
        if ($("#wait").length > 0) {
            setTimeout(updatePoll, 1000);
        }
    });

    function updatePoll() {
        $.getScript("/presentations/<%= @presentation.id %>.js")
        setTimeout(updatePoll, 1000);
    }
</script>



<div data-role="page" id="home">

    <div data-role="page" id="home">
        <div data-role="header" class="header">
            <h1 class="Instapol"><span>Instapol</span></h1>

        </div>

        <div data-role="content">			
            <div data-role="fieldcontain">
                <label for="name">Change Presentation:</label>
                <input type="text" name="name" id="home_form" placeholder = "Enter Presentation Name" />
                <p><a id="enter_button" data-theme="a" data-icon="arrow-r" data-role="button">Enter To Polling</a></p>
            </div>	
        </div>	

        <a href="<%= new_presentation_path %>" rel = "external" data-role="button"> Create New Presentation </a>

    </div>

</div>
