<% content_for :head do %>
 <title>InstaPol Admin</title>
 <link rel="apple-touch-icon" href="<%= root_url %>images/apple-touch-icon"/>

<% end %>

<div class="topbar">
  <div class="topbar-inner">
    <div class="container">
	<a href="<%= root_url %>"><img src="<%= root_url %>images/Instapol-logo.png" alt="Instapol-logo" height="35" id="header-image"></a>

      <ul class="nav" id="header_nav">
        <li><%= link_to "About", '/about' %></li>
        <li><%= link_to "Help", '/about' %></li>
        <li><%= link_to "Go Pro", '/go_pro' %></li>

      </ul>
    </div>
  </div>
</div>