<!DOCTYPE html>
<html>
<head>
  <title>Pollinate</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "application.js", "rails.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

 <% flash.each do |key, value| %>
     <div id="<%= key %>">
         <%= value %>
     </div>
 <% end %>
<%= yield %>

<% params %>
</body>
</html>
