<!DOCTYPE html>
<html>
<head>
  <title>Pollinate</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'header-logo.css' %>

 <script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>



  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css" />
  <%= csrf_meta_tag %>
</head>
<body>

 <% flash.each do |key, value| %>
     <div id="<%= key %>">
         <%= value %>
     </div>
 <% end %>
<%= yield %>

<% params %>
</body>
</html>
