<!DOCTYPE html>
<html>
<head>
  <title>Instapol</title>
	<%= stylesheet_link_tag 'landing.css' %>


</script>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>

<div class="container">
	<div id="main-page">
		<% flash.each do |key, value| %>
		  <div class="alert-message flash <%= key %>"><%= value %></div>
		<% end %>
		<%= yield %>
	</div>
</div>

<%= render 'shared/footer' %>

</body>

</html>
